@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-purple-900 dark:text-purple-100;
}

p,
li,
th,
td {
  @apply text-purple-900 dark:text-purple-100;
}

.mac {
  background-image: url("/wallpaper-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1440 / 900;
}

@media (prefers-color-scheme: dark) {
  .mac {
    background-image: url("/wallpaper-dark.jpg");
  }
}

time {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

h1 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
